[core]
	repositoryformatversion = 0
	filemode = true
	bare = true
[remote "origin"]
	url = {{  pv_ua_dotfiles_git_remote  }}
[status]
	showUntrackedFiles = no
[branch "main"]
	remote = origin
	merge = refs/heads/main
[branch "testing"]
	remote = origin
	merge = refs/heads/testing
