export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-{% if ansible_architecture == 'aarch64' %}arm64{% elif ansible_architecture == 'x86_64' %}amd64{% endif %}

export MAVEN_HOME=/usr/share/maven
export M2_HOME=/usr/share/maven
export GROOVY_HOME=/usr/share/groovy
export GRADLE_HOME=/usr/share/gradle
